html{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: currentColor;
}
/* utility class */

.flex-grow-5{
    flex-grow: 5;
}

.flex-grow-3{
    flex-grow: 3;
}


/* search-bar */

.logo__desktop{
    width: 135px;
}

.logo__mobile{
    width: 32px;
}

.search-bar{
    background-color: #E5E5E5;
}

::placeholder{
    font-weight: 500;
    font-size: 15px;
}

.bell-icon{
    color: #FF8F00;
}

.dropdown-toggle::after{
    display: none;
}


/* nav-bar */

.nav-bar{
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
    width: 70px;
    flex-shrink: 0;
    color: white;
}

.nav-bar__icon{
    width: 18px;
}

.nav-bar__item{
    padding: 12px 5px;
}

.nav-bar__item:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

/* top-data */

.top-data{
    background-color: #1B72E8;
    color: white;
}

.badge-hover:hover{
    opacity: 0.5;
}

.new-student-icon{
    font-size: 40px;
    font-weight: lighter;
}

.new-student{
    order: -1;
}

.offcanvas.canvas__style{
    width: 700px;
}

/* Table */

.table-img{
    width: 30px;
}
/* card area */

.card-area{
    background-color: #E5E5E5;
}


/* scrollbar */

::-webkit-scrollbar{
    background-color: #E5E5E5;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #051E34;
    border-radius: 999px;   
}

/* duck */

.duck-img{
    right: 40px;
    top:4px;
    transform: rotate(-0.05turn);
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.5));
}

.duck-img:hover{
    transform: scale(1.05);
}

.duck-rotate:hover{
    animation: rotate 600ms infinite linear;   
}

@keyframes rotate{
    0%{
        transform: rotate(0turn);
    }

    100%{
        transform: rotate(1turn);
    }
}

/* responsive */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .top-data__header{
        flex-wrap: nowrap;
    }

    .new-student{
        order: 1;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .nav-bar{
        width: 150px;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }


/* debug */

/* .debug aside,
.debug main{
    padding: 20px;
    border: 2px solid red;
} */

.debug header,
.debug section{
    border: 2px solid green;
}

.debug section>div{
    padding: 20px;
    border: 2px solid blue;
}

.debug [class^="col-"]{
    padding: 20px;
    border: 2px solid purple;
}